ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 20px 0;
}

#root {
  text-align: center;
}

.err-msg {
  margin: 10px 0;
  text-align: center;
}

.google-map {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
